<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/site.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/twilight.css" />
  </head>
  <body>
    <a href="http://github.com/secondstory/secondstoryjs-router"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
      
    <div id="frame">
      <h1><a href="http://secondstory.com">Second Story</a></h1>
      
      <div id="content">
        {{ content }}
      </div>
    </div>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16557054-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
